#wholeGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    
}
#container{
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    border: black solid 1px;
}
.color{
    background-color: aqua;
}
.row{
    display: flex;
    flex-direction: column;
}

.gridsquare{
    box-sizing: border-box;
    background-color: white;
}

.black{
    background-color: black;
}

#title {
    font-size: 60px;
    text-align: center;
    font-family: 'Nerko One';
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: rgb(221, 223, 194);
    border-radius: 10px;
    padding: 3px 12px 3px 12px

}
.button, .mode {
    background-color:rgb(221, 223, 194);
    height: 30px;
    width: 75px;
    border-radius: 10px;
}
header {
    display: flex;
    justify-content: center;
}
.buttons {
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
#rangeNumber{
    font-family: 'Courier New', Courier, monospace;
    border: black solid 1px;
    box-shadow: 2px;
    border-radius: 8px;
    width: 30px;
    height: 1.2em;
    padding: 2px;
    padding-top: 3px;
    background-color: rgb(221, 223, 194);
}
body {
    background-color: #3a55a0;
}
