#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    
}

.row{
    display: flex;
    flex-direction: column;
    margin-left: -1px;
    height: 400px;
    
}

.gridsquare{
    border: solid black 1px;
    box-sizing: border-box;
    margin-top: -1px;
    width: 10px;
    height: 10px;
}

.black{
    background-color: black;
}

#title {
    font-size: 36px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 3em;
    margin-bottom: 1em;
}
.button {
    background-color: beige;
    height: 30px;
    width: 75px;
}

.buttons {
    text-align: center;
    margin-top: 40px;
}